body {
	color: rgb(79, 79, 79);
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.grid-header {
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 20px;
}

.grid-header-text {
	display: inline;
	border-bottom: 1px solid rgb(79, 79, 79);
}

.grid-item {
	border-left: 10px solid transparent;
	padding-bottom: 15px;
}
.grid-item:hover {
	border-left: 10px solid rgba(155, 199, 229, 1);
}

.grid-item-0 {
	background-color: rgb(237, 237, 237);
}

.grid-item-1 {
	background-color: rgb(230, 230, 230);
}

.status-icon {
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-left: 35px;
}

.action-button {
	background-color: #FFFFFF;
	margin-top: 30px;
	line-height: 40px;
	height: 40px;
	width: 205px;
	border: 1px solid rgb(79, 79, 79);
	border-radius: 15px;
	cursor: pointer;
}

.action-button:hover {
	border-bottom: 2px solid rgb(79, 79, 79);
}

.action-button-icon {
	margin-left: 10px;
	margin-bottom: 5px;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.action-button-text {
	margin-left: 5px;
	font-size: 18px;
	display: inline-block;
}