<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="viewport" content="width=device-width"/>
    	<title>Voice Assist</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="static/js/app.js"></script>
        <script src="static/js/mainService.js"></script>
        <script src="static/js/mainController.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   	</head>
    <body ng-app="app" ng-controller="mainController">
        <div class="row" ng-repeat="request in requests">

            <div class="col-lg-8">
                <h3>{{request.transcription}}</h3>
                <h5>{{request.status}} SINCE {{request.status === 'OPEN' ? request.ts_request : request.ts_pickup}}</h5>
                <h5>PATIENT: {{request.patient_id}}</h5>
                <h5>ROOM: 1</h5>
            </div>
            <div class="col-lg-4">
                <button ng-click="requestAction(request.id)">{{request.status === 'OPEN' ? 'ACCEPT REQUEST' : 'COMPLETE REQUEST'}}</button>
            </div>
        </div>
	</body>

</html>
